# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Compiled output
dist/
build/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
package-lock.json
