
.icon-basket:before { content: '\e800'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
